#chatting-screen {
  background-color: #abc1d1;
}

#chatting-screen .status-bar,
#chatting-screen .alt-head {
  background-color: #abc1d1;
}

#chatting-screen .status-bar {
  z-index: 3;
}

#chatting-screen .alt-head {
  z-index: 2;
}

.fa-bars {
  margin-left: 20px;
}

.chatting {
  margin-top: 90px;
  padding: 0px 15px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.chatting__time {
  color: white;
  background-color: #92a4b2;
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 16px;
}

.message {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.message img {
  width: 45px;
  height: 45px;
  border-radius: 18px;
  margin-right: 8px;
}

.message__friend {
  font-size: 15px;
  opacity: 0.9;
  display: block;
}

.message__bubble {
  background-color: white;
  margin-top: 7px;
  padding: 9px 10px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  font-size: 17px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  font-size: 12px;
  margin-left: 4px;
  opacity: 0.9;
}

.from-me {
  justify-content: flex-end;
  text-align: right;
}

.from-me .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 13px;
  border-top-right-radius: 0px;
  order: 1;
}

.from-me .message__time {
  order: 0;
  margin-right: 4px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 8%;
}

.reply .reply__column:nth-child(2) {
  width: 92%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 99%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply i {
  opacity: 0.5;
}

.reply__column:nth-child(2) > i,
.reply__column:nth-child(2) button {
  position: absolute;
  right: 0;
  top: 2px;
}
.reply__column:nth-child(2) > i {
  right: 38px;
  top: 9.5px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
