.recom-friends {
  margin: 25px 0px 20px 0px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recom-friends__title {
  font-size: 14px;
  color: var(--gray);
}

.recom-friends span {
  display: block;
  margin: 100px 0px;
  color: var(--gray);
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 20px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 500;
  margin-bottom: 5px;
}

.open-post__hash {
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 5px;
}

.open-post__mem {
  display: flex;
  align-items: center;
}

.open-post__mem img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__num {
  margin-right: 5px;
  color: var(--gray);
  font-size: 14px;
}

.open-post__stat {
  font-size: 14px;
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.open-post__heart {
  color: white;
  font-size: 15px;
  background-color: var(--gray);
  padding: 7px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.open-post__heart span {
  margin-left: 5px;
}
