#friends-display {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}
