.badge {
  color: white;
  font-size: 13px;
  font-weight: 400;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
