.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__noti {
  position: absolute;
  left: 19px;
  bottom: 17px;
}

.nav__notif,
.nav__notif_cog {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.nav__notif {
  left: 35px;
  bottom: 27px;
}

.nav__notif_cog {
  left: 69px;
  bottom: 18px;
}

.find__cog {
  position: relative;
}
